/*001*/

body {
    background-color: #ffcdb0;
    color: black;
    margin: 0%;
}

/*001*/

h1 {
    margin: 0%;
    background-color: #f76e1e;
    color: black;
    padding: 4%;
    text-align: center;
}

/*001*/

h2 {
    margin: 0%;
    background-color: #f3803d;
    padding: 3%;
    text-align: center;
    color: black
}

/*001*/

h3 {
    margin: 0%;
    background-color: #faa06c;
    padding: 2%;
    text-align: center;
    color: black
}

/*001*/

h4 {
    margin: 0%;
    background-color: #f8b995;
    padding: 1%;
    text-align: center;
    color: black
}

/*001*/

p {
    background-color: #ffcdb0;
    margin: 1%;
    color: #000000;
}

/*001*/

footer {
    margin: 1%;
}