body {
    font: 400 100% Tahoma, sans-serif;
    /*Familia sans-serif*/
    background-color: #ffffff;
    color: #000000;
}

h1 {
    font: 160% bold Courier, monospace;
    background-color: #037baa;
    padding: 2%;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: 2% 0%;
}

#mapa {
    height: 500px;
    width: 100%;
}

p {
    margin: 1%;
    text-align: left;
}

img {
    margin: 1% 0%;
}

