/*001*/

body {
    background-color: white;
    color: black;
}

/*001*/

h1 {
    background-color: white;
    text-align: center;
    color: #B30000;
    border: outset yellowgreen;
}

/*001*/

h2 {
    background-color: white;
    text-align: center;
    color: #026412;
    border: outset #B30000;
}

/*001*/

h3 {
    background-color: white;
    text-align: center;
    color: #1C36FD;
    border: outset yellow;
}

/*001*/

h4 {
    background-color: white;
    text-align: center;
    color: black;
}

/*001*/

p {
    background-color: white;
    color: #575757;
}